
<form>
  <h2 class="heading">Bug Report</h2>
  <p class="text">Please be as detailed as possible to aid us in the troubleshooting process.</p>

  <label>Your Name*</label>
  <input type="text" id="name">
  

  <label> Last Name*</label>
  <input type="text" id="lastname">
  <br>
  
  <label> Email*</label>
  <input type="email" id="email">
  <br>

  <label for="datepicker">Date and time you first toticed this bug</label>
  <input type="date" id="datepicker">
  <br>

  <label for="timepicker"></label>

  <input type="time" id="timepicker">
  <br>

  <label>Impact</label>
  <select name="impact" id="selector1">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>
  <br>
  
  <label>Detailed explanation of bug*</label>
  <textarea name="textArea1" id="textArea1"></textarea>

</form>
